:host {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.search {
  height: 100%;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.link {
  min-width: 120px;
  max-width: 120px;
  text-wrap: nowrap;
  overflow: hidden;
}
