/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  min-width: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: #cccccc;
  background-color: #222222;
}

a {
  color: inherit;
}
